body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: pink;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px gray;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.yes-button {
  background: white;
  color: white;
}

.no-button {
  background: gray;
  color: white;
}
